- include_stylesheet 'admin/events_calendar/events'

%h1= t('events_calendar.index.title')

%p
  != t('events_calendar.index.instructions')

%table#events.index
  %thead
    %tr
      %th.name
        = t('events_calendar.index.column.name')
      %th.date
        = t('events_calendar.index.column.date')
      %th.time
        = t('events_calendar.index.column.time')
      -#%th.location
        = t('events_calendar.index.column.location')
      %th.modify{ :colspan => '2' }
        = t('modify')
  %tbody
    - if @events.empty?
      %tr
        %td.note{ :colspan => '6' }
          = t('events_calendar.index.empty')
    - else
      - @events.each do |event|
        %tr.node.level-1
          %td.event
            = image('events_calendar/event')
            = link_to(h(event.name), edit_admin_event_url(event))
          %td.date
            &= event.date
          %td.time
            &= event.time
          -#%td.location
            &= event.location
          %td.copy
            = link_to(t('events_calendar.action.copy'), copy_admin_event_url(event))
          %td.remove
            = link_to(t('remove'), remove_admin_event_url(event))

%p
  = link_to(image('events_calendar/new-event', :alt => t('events_calendar.action.new')), new_admin_event_url)
