%h1 Remove Event

%p Are you sure you want to <strong class="warning">permanently remove</strong> the following event?

%table.index#events
  %tbody
    %tr.node.level-1
      %td.event
        = image('events_calendar/event')
        = h @event.name
      %td.date
        = h @event.date
      %td.time
        = h @event.time

- form_for [:admin, @event], :html => { :method => :delete } do
  %p.buttons
    %input.button{ :type => 'submit', :value => 'Delete Event' }/
    or
    = link_to('Cancel', admin_events_url)
