%h1= t('events_calendar.action.remove')

%p
  != t('events_calendar.action.remove_confirm')

%table.index#events
  %tbody
    %tr.node.level-1
      %td.event
        = image('events_calendar/event')
        &= @event.name
      %td.date
        &= @event.date
      %td.time
        &= @event.time

- form_for [:admin, @event], :html => { :method => :delete } do
  %p.buttons
    %input.button{ :type => 'submit', :value => t('events_calendar.action.delete') }/
    = t('or')
    = link_to(t('cancel'), admin_events_url)
