- @title = "Events for #{@date.to_s(:long)}"

%dl.events
  - @events.each do |event|
    %dt= h event.name
    - if event.location
      %dd.location= h event.location
    - unless event.time.blank?
      %dd.time= h event.time
    %dd.description= sanitize(event.description) || '&nbsp;'

-#
  Supply additional page parts as required by your design
  - content_for :sidebar do
    <r:snippet name='sidebar' />

- content_for :left_sidebar do
  <r:snippet name='left_sidebar' />

- content_for :right_sidebar do
  <r:snippet name='right_sidebar' />
