- @title = "Events for #{@date.to_s(:long)}"

%dl.events
  - @events.each do |event|
    %dt= h event.name
    - if event.category
      %dd.category= h event.category
    - if event.location
      %dd.location= h event.location
    - unless event.time.blank?
      %dd.time= h event.time
    %dd.description= sanitize(event.description_html) || '&nbsp;'

-#
  Supply additional page parts as required by your design
  - content_for :sidebar do
    <r:snippet name='sidebar' />
