.calendar-data.tooltip{ :id => "events-#{id}" }
  %dl.events
    - events.sort_by{|e| [e.start_time||end_of_day, e.name]}.each do |event|
      %dt= h event.name
      - if event.location
        %dd.location= h event.location
      - if event.time
        %dd.time= h event.time(:format => '%l:%M %p')
      %dd.description= h(event.description) || '&nbsp;'
  %p.footer Click date for more details
