.calendar-data.tooltip{ :id => "events-#{id}" }
  %dl.events
    - events.sort_by{|e| [e.start_time||end_of_day, e.name]}.each do |event|
      %dt= h event.name
      - if event.category
        %dd.category= h event.category
      - if event.location
        %dd.location= h event.location
      - if event.time
        %dd.time= h event.time(:format => '%l:%M %p')
      -# Use a very restricted list of allowable tags
      %dd.description= sanitize(event.short_description, :tags => %w(strong em b i sup sub br)) || '&nbsp;'
  %p.footer Click date for more details
